
# Location of the log files
logdir = "/var/log/tf/";

# Logging verbosity.
#
# 0 = fatal errors only
# 1 = critical errors
# 2 = minor errors
# 3 = warnings
# 4 = important non-error messages
# 5 = status information
# 6 = debug messages
# 7 = extra verbose debug information
loglevel = 3;

# Database user and password. This is the same user for all TF services.
pguser = "tfs";
pgpasswd = "password";

# Data source name in the format of database@host for the configuration database.
configdsn = "tfsconfig@example";

# Path to the ntlm_auth tool in the samba package.
ntlmhelper = "/usr/bin/ntlm_auth";

# Logon server hostname. This can be either a WinNT server or Samba.
smbhost = "localhost";

# Daemon service account username and password.
smbuser = "tfs";
smbpasswd = "password";

# Team Foundation core services
team-foundation: {

    # The TCP port the daemon listens on.
    listen = "8081";

    # The team services URL prefix.
    prefix = "/tfs";

    # The number of database connections to open.
    dbconns = 2;

    # The maximum number of HTTP connections to allow at a time.
    maxconns = 100;
};

